
.home-container {
    font-family: 'Arial', sans-serif;
    color: #333;
    
  }
    
  .home-container h1 {
    font-size: 35px;
    color: #000000;
    text-align: center;
    margin-top: 40px;
  }
  
  .home-container .para-intro {
    
    margin: 0 auto;
    text-align: center;
    line-height: 1.5;
  }
  
  .home-container h2 {
    font-size: 1.8em;
    margin-top: 30px;
    color: #0e0d0d;
  }
  
  .home-container p {
    font-size: 1.2em;
    margin-bottom: 20px;
    text-align: justify;
  }
  .home-container h3{
    font-size: 1.4em;
    margin-top: 30px;
    color: #0e0d0d;
    text-align: center;
  }
  
  .bold-text {
    font-weight: bold;
  }
  
