
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
  }
  
  .brand-container {
    display: flex;
    align-items: center;
  }
  
  .logo-container {
    margin-right: 10px;
  }
  
  .logo {
    width: 150px; 
  }
  
  .title-container {
    font-size: 20px; 
  }
  
  .user-container {
    display: flex;
    align-items: center;
  }
  
  .cart-icon {
    position: relative;
    font-size: 24px;
    cursor: pointer;
    
  }
  
  .cart-count {
    position: absolute;
    top: -15px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 16px;
    padding-left: 2px;
    padding-right: 3px;
  }
  
  .user-info,
  .buttons-container {
    display: flex;
    align-items: center;
  }
  
  .user-avatar {
    width: 40px; 
    border-radius: 50%;
  }
  
  .user-greeting {
    font-size: 20px; 
    font-weight: 200;
    margin-left: 20px;
  }
  
  .exit-icon {
    font-size: 34px; 
    cursor: pointer;
    margin-left: 15px;
  }
  
  .login-button,
  .register-button {
    text-decoration: none; 
    background-color: #9febf5a9; 
    padding: 8px 6px; 
    border-radius: 5px; 
    color: #000000; 
    text-shadow: 1px 1px 1px rgb(182, 179, 179);
    transition: background-color 0.3s; 
    font-weight: 100;
  }
  